* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* height: 100vh; */
}

.wrapper {
  width: 100px;
  height: 7px;
  margin-left: 150px;
}

.line {
  width: 100px;
  /* width: 100%; */
  height: 100%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
}

.range {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: blue;
  cursor: grab;
  z-index: 100;
}


.panel-container {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='text'] {
  width: 40%;
  margin-bottom: 10px;
  padding: 5px;
}

input[type='text']:last-child {
  margin-bottom: 0;
}

.output-value {
  margin-bottom: 10px;
}